asgiref==3.11.1
attrs==26.1.0
black==23.12.1
cfgv==3.5.0
click==8.3.3
coverage==7.13.5
distlib==0.4.0
Django==4.2.7
django-cors-headers==4.3.1
django-filter==23.3
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
drf-spectacular==0.27.2
factory-boy==3.3.0
Faker==40.15.0
filelock==3.29.0
flake8==7.0.0
gunicorn==26.0.0
identify==2.6.19
inflection==0.5.1
iniconfig==2.3.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
mccabe==0.7.0
mypy_extensions==1.1.0
nodeenv==1.10.0
packaging==26.2
pathspec==1.1.1
Pillow==10.1.0
platformdirs==4.9.6
pluggy==1.6.0
pre-commit==3.6.0
psycopg2-binary==2.9.9
pycodestyle==2.11.1
pyflakes==3.2.0
PyJWT==2.12.1
pytest==7.4.3
pytest-cov==4.1.0
pytest-django==4.7.0
python-decouple==3.8
python-discovery==1.2.2
pytz==2026.2
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.30.0
sqlparse==0.5.5
typing_extensions==4.15.0
uritemplate==4.2.0
virtualenv==21.3.0
